<h1>Pages#home</h1>
<% if current_user %>
    <h2><%= current_user.email %></h2>
    <%= image_tag(current_user.avatar_url) %><br>
    <%= link_to "Show Animals", api_v1_animals_path %><br>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
     <%# <% link_to "Login with Google", 'auth/google_oauth2/callback' %>
    <%= link_to "Signup", new_user_registration_path %>
<% end %>
<p>Find me in app/views/pages/home.html.erb</p>


